<% if user_signed_in? && current_user.admin_approved == true %>
  <div class=container welcome-container>
    <div class="card text-center welcome-card">
      <div class="card-body">
        <h2 class="card-title">Welcome, <%= user.user_id %>! Your account is activated.</h2>
        <p class="card-text">This is your dashboard. Check your portfolio. Trade stocks. View your transactions.</p>
      </div>
    </div>
  </div>
<% end %>

<% if user_signed_in? && current_user.admin_approved == false %>
  <div class=container welcome-container>
    <div class="card text-center welcome-card">
      <div class="card-body">
        <h2 class="card-title">Welcome, <%= admin.user_id %>! Your account is pending approval.</h2>
        <p class="card-text">Contact an admin to approve your account.</p>
      </div>
    </div>
  </div>
<% end %>

