<% if user_signed_in? && current_user.admin_approved == true %>
  <div class=container welcome-container>
    <div class="card text-center welcome-card">
      <div class="card-body">

        <h2 class="card-title">Welcome, <%= current_user.first_name %>!</h2><br />
        <h4 class="card-title">Your account is activated.</h4>
        <p class="card-text">This is your dashboard.</p>
        <p class="card-text">Check your portfolio.</p>
        <p class="card-text">Trade stocks.</p> 
        <p class="card-text">View your transactions.</p>
        
        <%= image_tag("ChibiNebula_SoonJinGraphics.png", alt: "ChibiNebula_SoonJinGraphics.png", size: "150x150") %>
      
      </div>
    </div>
  </div>
<% end %>

<% if user_signed_in? && current_user.admin_approved == false %>
  <div class=container welcome-container>
    <div class="card text-center welcome-card">
      <div class="card-body">

        <h2 class="card-title">Welcome, <%= current_user.first_name %>!</h2><br />
        <h4 class="card-title">Your account is pending aproval.</h4>
        <p class="card-text">Allow us to review your profile and wait for a response within 24 hours.</p>
        <p class="card-text">Thank you!</p>
        
        <%= image_tag("ChibiNebula_SoonJinGraphics.png", alt: "ChibiNebula_SoonJinGraphics.png", size: "150x150") %>
      
      </div>
    </div>
  </div>
<% end %>