<div class="admin_page_container">
  <body>
      <main>
        <section>
          <h2>Welcome, <%= current_admin.email %>!</h2>
          <p>This is your admin dashboard. Manage users, approve sign-ups, and track transactions.</p>
        </section>
      </main>
    </body>
</div>