<!DOCTYPE html>

<html>
  <body>
    <h1>Welcome to NebulaTrade, <%= @user.first_name %>!</h1>
    <h4>Your account is pending aproval.</h4>
    <p>Allow us to review your profile and wait for a response within 24 hours.</p>
  </body>
</html>