<div class="homepage_container">
  <div class="homepage_content">
    <header class="homepage_header">
      <%= image_tag("NebulaTrade Logo-noText.png", alt: "NebulaTrade Logo", size: "150x150") %>
      <h2 style="color: yellow;">NebulaTrade</h2>
      <p>Your Stock Trading Platform</p>

    </header>

    <main class="homepage_main">
      <section class="about_section">
        <h5>About NebulaTrade</h5>
        <p>
          NebulaTrade is a powerful stock trading platform that allows you to
          buy and sell stocks, monitor your portfolio, and stay informed about
          market trends.
        </p>
      </section>

      <section class="features_section">
        <h5 style= "text-align: center;">Key Features</h5>
        <ul>
          <li>Buy and sell stocks with ease.</li>
          <li>Monitor your portfolio in real-time.</li>
          <li>Stay informed with market charts and data.</li>
        </ul>
      </section>
    </main>
  </div>

  <div class="get_started_section">
    <div class="get_started_container">
      <h5>Get Started</h5>
        <p>
          Ready to start trading? Sign up or login to your NebulaTrade account
          to explore the exciting world of stock trading.
        </p>
      <div class="button-container">
        <p class="signup_link"><%= link_to 'Sign up', new_user_registration_path, class: 'button' %></p>
      </div>  
      <div class="button-container">
        <p class="login_link"><%= link_to 'Login', new_user_session_path, class: 'button' %></p>
      </div>
      <div class="admin_login_button-container">
         <p class="admin_login"><%= link_to 'Admin Login', new_admin_session_path, class: 'button' %></p>
      </div>
    </div>
    <div class="homepage_gif_container">
      <img src="https://media.giphy.com/media/lTXepVrUf7XBoBGgzW/giphy.gif">
      <p style="font-size:7pt; padding-top: 4px;">via GIPHY</p>
    </div>
</div>
