<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR to USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    }
  ],
  "showSymbolLogo": true,
  "isTransparent": false,
  "displayMode": "adaptive",
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
<br />
<div class="trade-container">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" style="height:100%;width:100%">
    <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
    {
    "container_id": "technical-analysis-chart-demo",
    "width": "900",
    "height": "600",
    "autosize": true,
    "symbol": "AAPL",
    "interval": "D",
    "timezone": "exchange",
    "theme": "dark",
    "backgroundColor": "rgba(0, 0, 0, 1)",
    "style": "1",
    "withdateranges": true,
    "hide_side_toolbar": false,
    "allow_symbol_change": true,
    "save_image": false,
    "show_popup_button": true,
    "popup_width": "1000",
    "popup_height": "650",
    "support_host": "https://www.tradingview.com"
    }
    </script>
    </div>
    <!-- TradingView Widget END -->
</div>
<br />
<div class="container">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" value="buy" checked>
          <label class="btn btn-outline-success" for="success-outlined">Buy</label>
          <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" value="sell">
          <label class="btn btn-outline-danger" for="danger-outlined">Sell</label>
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="text" class="form-control" id="stock" aria-describedby="stockHelp">
          <div id="stockHelp" class="form-text">e.g. AAPL, GOOG, META</div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" step="0.01" class="form-control" id="price" disabled>
        </div>
        <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" step="0.01" class="form-control" id="amount">
      </div>
        <div class="mb-3">
          <label for="shares" class="form-label">Shares</label>
          <input type="number" step="0.01" class="form-control" id="shares" disabled>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
