/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Montserrat";
  src: url("montserrat-regular.woff2") format("woff2"),
    url("montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  color: white;
  font-family: "Montserrat", sans-serif;
}

body {
  background: black;
  color: white;
  margin: 5px 15px 5px 15px;
  padding: 0;
}

footer {
  position: relative;
  bottom: 0;
}

.trade-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  background: black;
  flex-direction: column;
}

.form-control {
  background-color: #2a2d35;
  outline: none;
  color: white;
  border: 1px solid #131722;
}

.form-control:disabled {
  background-color: #2a2d35;
  outline: none;
  color: white;
  border: 1px solid #131722;
}

.form-control:focus {
  background-color: #2a2d35;
  outline: none;
  color: white;
  border: 1px solid #131722;
}

.form-label {
  color: white;
}

.form-text {
  color: white;
}

.card {
  background-color: #131722;
}

/*style for the homepage*/

.homepage_header,
.homepage_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage_header {
  padding-bottom: 50px;
}

.about_section,
.features_section {
  padding-bottom: 30px;
}
