/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Cascadia Code";
  src: url("CascadiaCode.ttf") format("truetype"),
    url("CascadiaMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  color: white;
  font-family: "Cascadia Code", monospace;
}

body {
  background: black;
  color: white;
  margin: 10px 5px 2px 5px;
  padding: 0 0 3px 0;
  display: flex;
  flex-direction: column;
  font-family: "Cascadia Code", monospace;
}

footer {
  position: fixed;
  top: 96.5%;
  margin-top: 2px;
  bottom: 0;
  padding-left: 5px;
}

#footer {
  font-size: 8pt;
}

p,
li,
.signup_link,
.login_link {
  font-size: 10pt;
}

.error_message-container {
  text-align: center;
  padding-bottom: 20px;
}

.error_message_text {
  font-size: 11;
  color: orange;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font: 10pt;
  color: yellow;
  background-color: white;
}

.nav_links:hover {
  color: orange;
  background-color: #2a2d35;
}

/*style for the trade page*/
.trade-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  background: black;
  flex-direction: column;
}

.field {
  padding: 5px;
}

.form-control {
  background-color: #2a2d35;
  outline: none;
  color: white;
  border: 1px solid #131722;
}

.form-control:disabled {
  background-color: #202123;
  outline: none;
  color: white;
  border: 1px solid #131722;
}

.form-control:focus {
  background-color: #2a2d35;
  outline: none;
  color: white;
  border: 1px solid #131722;
}

.form-label {
  color: white;
}

.form-text {
  color: white;
}

.card {
  background-color: #131722;
}

.buy-sell-btn {
  padding-bottom: 5px;
}

/*style for the portfolio*/
.portfolio-cash {
  background-color: blue !important;
}

.portfolio-total {
  background-color: #131722;
}

caption {
  color: white;
}

/*style for the homepage*/
h5 {
  color: darkorange;
}

.homepage_container {
  display: flex;
  margin-top: 1%;
  overflow: hidden;
}

.homepage_content,
.get_started_section {
  flex: 1;
  text-align: center;
  line-height: normal;
}

.homepage_header {
  margin-top: 30px;
}

.homepage_content {
  background-color: #2a2d35;
  border: 10px solid;
  border-image: linear-gradient(to right, transparent, #000, transparent) 1;
  border-image-slice: 1;
  border-radius: 0 25px 25px 0;
  margin-right: 10px;
}

.get_started_section {
  align-items: center;
  text-align: center;
}

.homepage_links_container {
  border: #131722;
}

.homepage_header,
.homepage_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 35px;
}

.about_section {
  padding-bottom: 18px;
}

.features_section {
  padding-bottom: 13px;
  text-align: left;
}

.get_started_section {
  margin: 4% 0 3% 10px;
}

.get_started_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid burlywood;
  border-radius: 13px 0 0 13px;
}

.homepage_gif_container {
  display: flex;
  margin: 40px 5px 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0 13px 13px 0;
}

.homepage_gif_container img {
  width: 222px;
  height: 222px;
  border-radius: 0 8px 0 8px;
}

/*style for the buttons*/
.signup_link {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 9pt;
}

.login_link {
  margin-bottom: 5px;
  font-size: 9pt;
}

.admin_login,
.user_login {
  margin: 15px 0 5px 0;
  font-size: 9pt;
}

.admin_login_button-container,
.user_login_button-container {
  align-self: end;
}

.admin_login_button-container a,
.user_login_button-container a {
  text-decoration: none;
  color: rgb(168, 45, 168);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.admin_login_button-container a:hover,
.user_login_button-container a:hover {
  color: white;
}

button {
  cursor: pointer;
}

.button-container {
  display: inline-block;
  margin: 2px;
  font-family: Cascadia Code, monospace;
  font-weight: bold;
}

.button-container a {
  text-decoration: none;
  color: orange;
  background-color: rgb(49, 52, 53);
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
}

.button-container a:hover {
  color: white;
  background-color: orange;
}

.actions_button {
  display: flex;
  margin: 15px auto;
  padding: 2px;
  font-family: Cascadia Code, monospace;
  font-weight: bold;
  color: orange;
  background-color: rgb(49, 52, 53);
  border-radius: 5px 0 5px 0;
}

.actions_button :hover {
  color: rgb(49, 52, 53);
  background-color: orange;
}

.fields_container,
label,
.cancel_account_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  margin: 5px 0 5px 0;
  padding: 2px;
  font-size: 10pt;
  text-align: center;
}

.remember_me_field {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10pt;
  gap: 3px;
}

/*For user and admin login*/
.login_page_container,
.signup_page_container,
.edit_page_container,
.resend_confirmation_container,
.forgot_pw_container,
.change_pw_container {
  margin: 15px auto;
  padding: 5x 10px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid orange;
  border-radius: 13px;
  width: 40%;
  min-width: max-content;
}

.already_have_account_text,
.no_account_yet_text,
.cancel_account_tex {
  margin: 10px 0 0 5px;
  font-size: 10pt;
  padding: 0 0 0 5px;
  text-align: center;
}

.shared_link {
  margin: 0 auto;
  font-size: 10pt;
  padding: 0 auto;
  color: orange;
  text-align: center;
}
