<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "NASDAQ:AAPL"
    },
    {
      "proName": "NASDAQ:TSLA"
    },
    {
      "proName": "NASDAQ:MSFT"
    },
    {
      "proName": "NASDAQ:META"
    },
    {
      "proName": "NASDAQ:GOOG"
    },
    {
      "proName": "NASDAQ:NVDA"
    },
    {
      "proName": "NASDAQ:AMZN"
    },
    {
      "proName": "NASDAQ:NFLX"
    }
  ],
  "showSymbolLogo": true,
  "isTransparent": false,
  "displayMode": "adaptive",
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->